[submodule "submodules/ChaosUtil.Debug"]
	path = submodules/ChaosUtil.Debug
	url = ../../ChaosFramework/ChaosUtil.Debug.git
[submodule "submodules/ChaosUtil.Platform"]
	path = submodules/ChaosUtil.Platform
	url = ../../ChaosFramework/ChaosUtil.Platform.git
[submodule "submodules/ChaosUtil.Platform.Windows"]
	path = submodules/ChaosUtil.Platform.Windows
	url = ../../ChaosFramework/ChaosUtil.Platform.Windows.git
[submodule "submodules/ChaosUtil.Primitives"]
	path = submodules/ChaosUtil.Primitives
	url = ../../ChaosFramework/ChaosUtil.Primitives.git
[submodule "submodules/ChaosUtil.Reflection"]
	path = submodules/ChaosUtil.Reflection
	url = ../../ChaosFramework/ChaosUtil.Reflection.git
[submodule "submodules/ChaosUtil.Serialization"]
	path = submodules/ChaosUtil.Serialization
	url = ../../ChaosFramework/ChaosUtil.Serialization.git
[submodule "submodules/ChaosAnalyzers"]
	path = submodules/ChaosAnalyzers
	url = ../../ChaosFramework/ChaosAnalyzers.git
[submodule "submodules/ChaosAnalyzers.ClassIntegrity"]
	path = submodules/ChaosAnalyzers.ClassIntegrity
	url = ../../ChaosFramework/ChaosAnalyzers.ClassIntegrity.git
[submodule "submodules/ChaosAnalyzers.ClassIntegrity.Types"]
	path = submodules/ChaosAnalyzers.ClassIntegrity.Types
	url = ../../ChaosFramework/ChaosAnalyzers.ClassIntegrity.Types.git
[submodule "submodules/ChaosAnalyzers.CleanCode"]
	path = submodules/ChaosAnalyzers.CleanCode
	url = ../../ChaosFramework/ChaosAnalyzers.CleanCode.git
